
<header class="intro-header" style="background-image: url('http://ironsummitmedia.github.io/startbootstrap-clean-blog/img/about-bg.jpg')">
   <div class="container">
       <div class="row">
           <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               <div class="page-heading">
                   <h1>About Us</h1>
                   <hr class="small">
                   <span class="subheading">This is what we do.</span>
               </div>
           </div>
       </div>
   </div>
</header>

<!-- Main Content -->
<div class="container">
   <div class="row">
       <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
           <p>We are a group of individuals, trying to express our individuality. We live in a society preety simmilar to yours and faces situations which are much alike yours. We like to express ourself and put our opinion in public. This portal is not at all for any purpose except for expressing our views. With each of our post you can get details of posting individual through his social media account.</p>
           <p>The sole purpose of this portal is discussing social issues and events.</p>
           <p>If you like our purpose and our work, and want to connect with us, just sign up with your facebook account.</p>
       </div>
   </div>
</div>
